name: CI/CD Pipeline

on:
  push:
    branches:
      - main
      - development
  pull_request:
    branches:
      - main

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    
    # Them khoi nay de chay 3 version node
    strategy:
      matrix:
        node-version: [18, 20, 22]

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          # Lay version tu maxtrix
          node-version: ${{ matrix.node-version }} 

      - name: Install dependencies
        run: npm install

      - name: Run tests
        run: npm test

      - name: Build application
        run: npm run build
  # Them buoc deploy
  deploy:
    needs: build-and-test                
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/main'  
    steps:
      - name: Deploy to Google Cloud VM
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USER }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          port: 22
          # Sua doan nay thanh duong dan chinh xac
          script: |
            cd /home/nguyenhuyhoang0943/MyProject
            git pull origin main
            npm install
            /usr/local/bin/pm2 restart MyProject || /usr/local/bin/pm2 start index.js --name MyProject --cwd /home/nguyenhuyhoang0943/MyProject
